body
{
    margin: 0px ; 
    height: 100%;
}
#canvas
{
	position: fixed ; 
	margin: 0px;
	padding : 0px ; 
	left: 0px ; 
	top: 0px ;
	height: 70%;
	width: 100%; 
}

#panneau {
    position: fixed;
    bottom:0px;
    width: 100%;
    display:flex;
    justify-content: center;
    background-color: #F5F5DC;
}

#progress_barre {
    padding: 5vh;
}
#canaux {
    float:left;
    display:flex;
    flex-direction: column;
}

#message {
    border: 1px solid black;
    max-height: 25vh;
    width: 40vh;
    overflow-y:scroll;

}

#entre {
    max-width:40vh;
    padding-left: 20px;
}

#sante {
    border: 1px solid black;
    height: 1vh;
    width: 20vh;
    background-color: red;
    border-radius: 10px;
}

#mana {
    border: 1px solid black;
    height: 1vh;
    width: 20vh;
    background-color: blue;
    border-radius: 10px;
}

#inventaire {
    align-self: center;
    padding-right: 5vh;
}
#coeur {
    height: 5vh;
    width: 5vh;
}